Repository Microsoft/azure-pipelines-tasks, changes with the owners that .github/CODEOWNERS names for each.
All owners: @damccorm, @stephenmichaelf, @jtpetty, @ammohant, @Anumita, @leantk, @DennisPan, @turanuk, @ranterle, @owenniblock, @Vijay-train, @SumiranAgg, @chshrikh, @eaarora-ms, @bishal-pdmsft, @ajinkya599, @prativen, @blackchoey, @michaeljqzq, @RoshanKumarMicrosoft, @vinodkumar3, @johnterickson, @daveken, @phil-hodgson, @aasim, @satbai, @vincentdass, @bishal-pdMSFT, @hiyadav, @arjgupta, @tejasd1990, @rajatagrawal-dev, @Ajay-MS, @omeshp, @nigurr, @lkillgore, @karanjitsingh, @acesiddhu, @jikuma, @hashtagchris, @kelliejos, @nishubansal, @ds-ms, @prebansa, @zachariahcox, @SadagopanRajaram, @ShreyasRmsft, @Lovakumar, @gykuma, @mihaif, @jahsu-MSFT, @fadnavistanmay, @owenhuynMSFT, @arunkm, @mdmdakbar, @hross, @kasubram, @nidabas, @shailesh-sk, @navin22

Don't auto assign to tommy
  issue-rules.yml
Owners: none

Update vsts-task-tool-lib reference as it's deprecated
  Tasks/Common/kubernetes-common-v2/helmutility.ts
  Tasks/Common/kubernetes-common-v2/kubectlutility.ts
  Tasks/Common/kubernetes-common-v2/package-lock.json
  Tasks/Common/kubernetes-common-v2/package.json
Owners: none

Adding BuilNumber as output variable to DownloadPipelineArtifactV2 task
  Tasks/DownloadPipelineArtifactV2/Strings/resources.resjson/en-US/resources.resjson
  Tasks/DownloadPipelineArtifactV2/task.json
  Tasks/DownloadPipelineArtifactV2/task.loc.json
Owners: none

update kubernetes-common-v2 dependencies
  Tasks/AzureFunctionOnKubernetesV0/package-lock.json
  Tasks/AzureFunctionOnKubernetesV0/task.loc.json
  Tasks/HelmDeployV0/package-lock.json
  Tasks/HelmInstallerV1/package-lock.json
  Tasks/HelmInstallerV1/src/helmtoolinstaller.ts
  Tasks/KubectlInstallerV0/package-lock.json
  Tasks/KubernetesManifestV0/package-lock.json
  Tasks/KubernetesManifestV0/task.loc.json
  Tasks/KubernetesV1/npm-shrinkwrap.json
  Tasks/KubernetesV1/task.loc.json
Owners: @ammohant, @ajinkya599

update HelmInstallerV1 utils.ts file
  Tasks/HelmInstallerV1/src/utils.ts
Owners: none

test
  Tasks/DownloadPipelineArtifactV2/Strings/resources.resjson/en-US/resources.resjson
Owners: none

Update task.json
  Tasks/VsTestV2/task.json
Owners: @SadagopanRajaram, @ShreyasRmsft

Update task.loc.json
  Tasks/VsTestV2/task.loc.json
Owners: @SadagopanRajaram, @ShreyasRmsft

Update make.json
  Tasks/VsTestV2/make.json
Owners: @SadagopanRajaram, @ShreyasRmsft

Fix variable
  ci/build-all-steps.yml
Owners: @damccorm, @stephenmichaelf, @jtpetty

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Owners: none

Update courtesy-push.js
  ci/courtesy-push/courtesy-push.js
Owners: none

Make NuGetAuthenticate task install .netfx credential provider on Linux (#12525)
  Tasks/Common/artifacts-common/credentialProviderUtils.ts
  Tasks/MavenAuthenticateV0/task.json
  Tasks/NuGetAuthenticateV0/task.json
  Tasks/PipAuthenticateV1/task.json
  Tasks/TwineAuthenticateV1/task.json
Owners: @phil-hodgson, @aasim, @satbai

Removing extra space
  Tasks/DownloadPipelineArtifactV2/Strings/resources.resjson/en-US/resources.resjson
Owners: none

.github/CODEOWNERS:

ci/*  @damccorm   @stephenmichaelf  @jtpetty

Tasks/ACRTaskV0/*    @ammohant    @Anumita

Tasks/AndroidSigningV2/*    @leantk

Tasks/AndroidSigningV3/*    @leantk

Tasks/ANTV1/*   @leantk

Tasks/AppCenterDistributeV1/*   @DennisPan    @turanuk    @ranterle

Tasks/AppCenterDistributeV2/*   @DennisPan    @turanuk    @ranterle

Tasks/AppCenterDistributeV3/*   @DennisPan    @turanuk    @ranterle

Tasks/AppCenterTestV1/*   @owenniblock

Tasks/ArchiveFilesV2/*  @jtpetty

Tasks/AzureAppServiceManageV0/*     @Vijay-train  @SumiranAgg @chshrikh

Tasks/AzureAppServiceSettingsV1/*     @Vijay-train @chshrikh  @eaarora-ms @SumiranAgg

Tasks/AzureCLIV1/*      @bishal-pdmsft

Tasks/AzureCloudPowerShellDeploymentV1/*    @Vijay-train  @chshrikh

Tasks/AzureFileCopyV1/*    @Vijay-train   @chshrikh

Tasks/AzureFileCopyV2/*    @Vijay-train   @chshrikh

Tasks/AzureFileCopyV3/*    @Vijay-train   @chshrikh

Tasks/AzureFunctionAppV1/*    @Vijay-train    @chshrikh   @SumiranAgg

Tasks/AzureFunctionAppContainerV1/*    @Vijay-train    @chshrikh      @SumiranAgg

Tasks/AzureFunctionOnKubernetesV0/*     @ammohant    @ajinkya599  

Tasks/AzureFunctionV1/*     @ammohant

Tasks/AzureIoTEdgeV2/*      @prativen  @blackchoey  @michaeljqzq

Tasks/AzureKeyVaultV1/*     @prativen

Tasks/AzureMonitorAlertsV0/*    @Vijay-train    @chshrikh

Tasks/AzureMonitorV0/*      @ammohant

Tasks/AzureMonitorV1/*      @ammohant

Tasks/AzureMysqlDeploymentV1/*  @Vijay-train    @chshrikh      @RoshanKumarMicrosoft

Tasks/AzureNLBManagementV1/*    @Vijay-train    @chshrikh

Tasks/AzurePolicyV0/*   @ammohant

Tasks/AzurePowerShellV2/*   @Vijay-train    @chshrikh

Tasks/AzurePowerShellV3/*   @Vijay-train    @chshrikh

Tasks/AzurePowershellV4/*   @Vijay-train    @chshrikh

Tasks/AzureResourceGroupDeploymentV2/*      @bishal-pdmsft

Tasks/AzureResourceManagerTemplateDeploymentV3/*      @bishal-pdmsft    @vinodkumar3

Tasks/AzureRmWebAppDeploymentV3/*   @Vijay-train    @chshrikh    @SumiranAgg

Tasks/AzureRmWebAppDeploymentV4/*   @Vijay-train    @chshrikh    @SumiranAgg

Tasks/AzureWebAppV1/*  @Vijay-train    @chshrikh    @SumiranAgg

Tasks/AzureWebAppContainerV1/*   @Vijay-train    @chshrikh    @SumiranAgg

Tasks/AzureVmssDeploymentV0/*       @bishal-pdmsft

Tasks/BashV3/*  @jtpetty

Tasks/BatchScriptV1/*   @jtpetty

Tasks/CacheBetaV0/*      @johnterickson

Tasks/CacheBetaV1/*      @johnterickson

Tasks/ChefV1/*      @Vijay-train    @chshrikh

Tasks/ChefKnifeV1/*     @Vijay-train    @chshrikh

Tasks/CMakeV1/*  @daveken

Tasks/CmdLineV2/*   @jtpetty

Tasks/CocoaPodsV0/*     @leantk

Tasks/Common/artifacts-common/*     @phil-hodgson    @aasim    @satbai

Tasks/Common/AzureRmDeploy-common/*   @vincentdass  @SumiranAgg

Tasks/Common/Deployment/*   @bishal-pdMSFT  @chshrikh

Tasks/Common/MSBuildHelpers/*   @daveken

Tasks/Common/PowershellHelpers/*  @bishal-pdMSFT  @hiyadav

Tasks/Common/RemoteDeployer/*   @arjgupta

Tasks/Common/ServiceFabricHelpers/*   @bishal-pdMSFT  @tejasd1990

Tasks/Common/TlsHelper_/*   @rajatagrawal-dev   @arjgupta

Tasks/Common/VstsAzureHelpers_/*  @rajatagrawal-dev   @vincentdass

Tasks/Common/VstsAzureRestHelpers_/*  @Ajay-MS  @rajatagrawal-dev

Tasks/Common/azure-arm-rest/*   @Ajay-MS    @bishal-pdmsft

Tasks/Common/azure-arm-rest-v2/*   @Vijay-train    @chshrikh   @SumiranAgg  @bishal-pdmsft

Tasks/Common/azure-blobstorage-artifactProvider/*   @omeshp   @hiyadav    @bishal-pdmsft

Tasks/Common/codeanalysis-common/*    @leantk

Tasks/Common/codecoverage-tools/*     @nigurr   @lkillgore

Tasks/Common/coveragepublisher/*     @karanjitsingh   @acesiddhu

Tasks/Common/docker-common/*      @jikuma   @ammohant

Tasks/Common/ios-signing-common/*     @leantk   @hashtagchris

Tasks/Common/java-common/*        @leantk   @kelliejos

Tasks/Common/kubernetes-common/*      @nishubansal    @ds-ms

Tasks/Common/packaging-common/*     @phil-hodgson    @aasim    @satbai

Tasks/Common/securefiles-common/*   @leantk   @hashtagchris

Tasks/Common/utility-common/*       @nishubansal    @ds-ms

Tasks/Common/webdeployment-common/*   @SumiranAgg   @vincentdass

Tasks/CondaEnvironmentV0/*      @leantk

Tasks/CondaEnvironmentV1/*      @leantk

Tasks/ContainerBuildV0/*    @ammohant @prebansa

Tasks/CopyFilesV2/*     @jtpetty

Tasks/CopyFilesOverSSHV0/*      @zachariahcox

Tasks/CUrlUploaderV2/*      @zachariahcox

Tasks/DecryptFileV1/*   @zachariahcox

Tasks/DelayV1/*     @ammohant

Tasks/DeleteFilesV1/*   @jtpetty

Tasks/DeployVisualStudioTestAgentV2/*    @SadagopanRajaram @ShreyasRmsft

Tasks/DockerV0/*    @ammohant

Tasks/DockerV1/*    @ammohant

Tasks/DockerV2/*    @ammohant

Tasks/DockerComposeV0/*     @ammohant

Tasks/DotNetCoreCLIV2/*     @bishal-pdmsft

Tasks/DotNetCoreInstallerV0/*   @bishal-pdmsft

Tasks/DotNetCoreInstallerV1/*   @bishal-pdmsft

Tasks/DownloadBuildArtifactsV0/*    @Lovakumar      @omeshp

Tasks/DownloadFileshareArtifactsV0/*    @Lovakumar      @omeshp

Tasks/DownloadGitHubReleasesV0/*    @Lovakumar      @gykuma

Tasks/DownloadPackageV0/*       @phil-hodgson    @aasim    @satbai

Tasks/DownloadPipelineArtifactV0/*      @mihaif @jahsu-MSFT @fadnavistanmay @owenhuynMSFT @arunkm

Tasks/DownloadPipelineArtifactV1/*      @mihaif @jahsu-MSFT @fadnavistanmay @owenhuynMSFT @arunkm

Tasks/DownloadSecureFileV1/*    @leantk

Tasks/DuffleInstallerV0/*   @ammohant     @ammohant

Tasks/ExtractFilesV1/*      @jtpetty

Tasks/FileTransformV1/*     @Vijay-train    @chshrikh   @SumiranAgg

Tasks/FtpUploadV1/*     @zachariahcox

Tasks/FuncToolsInstallerV0/*     @ammohant   @ajinkya599

Tasks/GithubCommentV0/*     @ds-ms

Tasks/GithubReleaseV0/*     @prativen   @mdmdakbar

Tasks/GoV0/*    @bishal-pdmsft

Tasks/GoToolV0/*    @bishal-pdmsft

Tasks/GradleV2/*    @leantk

Tasks/GruntV0/*     @hross

Tasks/GulpV0/*      @hross

Tasks/GulpV1/*      @hross

Tasks/HelmDeployV0/*    @ammohant

Tasks/HelmInstallerV0/*     @ammohant

Tasks/HelmInstallerV1/*     @ammohant

Tasks/IISWebAppDeployment/*     @Vijay-train    @chshrikh

Tasks/IISWebAppDeploymentOnMachineGroupV0/*     @Vijay-train    @chshrikh

Tasks/IISWebAppManagementOnMachineGroupV0/*     @Vijay-train    @chshrikh

Tasks/InstallAppleCertificateV2/*   @leantk

Tasks/InstallAppleProvisioningProfileV1/*   @leantk

Tasks/InstallSSHKeyV0/*     @zachariahcox

Tasks/InvokeRestApiV1/*     @ammohant

Tasks/JavaToolInstallerV0/*     @leantk

Tasks/JenkinsDownloadArtifactsV1/*      @Lovakumar      @kasubram

Tasks/JenkinsQueueJobV2/*   @leantk

Tasks/KubectlInstallerV0/*  @ammohant

Tasks/KubernetesV0/*    @ammohant

Tasks/KubernetesV1/*    @ammohant

Tasks/KubernetesManifestV0/*    @ammohant

Tasks/ManualInterventionV8/*    @ammohant

Tasks/MavenAuthenticateV0/*     @phil-hodgson    @aasim    @satbai

Tasks/MavenV2/*     @leantk

Tasks/MavenV3/*     @leantk

Tasks/MSBuildV1/*   @daveken

Tasks/MysqlDeploymentOnMachineGroupV1/*     @Vijay-train    @chshrikh      @RoshanKumarMicrosoft

Tasks/NodeToolV0/*      @damccorm

Tasks/NpmV1/*      @phil-hodgson    @aasim    @satbai

Tasks/NpmAuthenticateV0/*       @phil-hodgson    @aasim    @satbai

Tasks/NuGetV0/*     @phil-hodgson    @aasim    @satbai

Tasks/NuGetCommandV2/*      @phil-hodgson    @aasim    @satbai

Tasks/NuGetAuthenticateV0/*      @phil-hodgson    @aasim    @satbai

Tasks/NuGetPackagerV0/*     @phil-hodgson    @aasim    @satbai

Tasks/NuGetPublisherV0/*    @phil-hodgson    @aasim    @satbai

Tasks/NuGetToolInstallerV0/*    @phil-hodgson    @aasim    @satbai

Tasks/OpenPolicyAgentInstallerV0/*    @Anumita

Tasks/PackerBuildV0/*   @bishal-pdmsft

Tasks/PackerBuildV1/*   @bishal-pdmsft

Tasks/PipAuthenticateV0/*     @phil-hodgson    @aasim    @satbai

Tasks/PipAuthenticateV1/*     @phil-hodgson    @aasim    @satbai

Tasks/PowerShellV2/*    @jtpetty

Tasks/PowerShellOnTargetMachinesV1/*    @Vijay-train    @chshrikh

Tasks/PowerShellOnTargetMachinesV2/*    @Vijay-train    @chshrikh

Tasks/PowerShellOnTargetMachinesV3/*    @Vijay-train    @chshrikh

Tasks/PublishBuildArtifactsV1/*     @leantk

Tasks/PublishCodeCoverageResultsV1/*    @SadagopanRajaram @nigurr 

Tasks/PublishCodeCoverageResultsV2/*    @karanjitsingh @acesiddhu

Tasks/PublishPipelineArtifactV0/*       @mihaif @jahsu-MSFT @fadnavistanmay @owenhuynMSFT @arunkm

Tasks/PublishPipelineMetadataV0/*    @ammohant @nidabas

Tasks/PublishSymbolsV2/*    @arunkm @mihaif @jahsu-MSFT @fadnavistanmay @owenhuynMSFT

Tasks/PublishTestResultsV1/*    @shailesh-sk

Tasks/PublishTestResultsV2/*    @shailesh-sk

Tasks/ContainerStructureTestV0/*    @shailesh-sk   @navin22

Tasks/PublishToAzureServiceBusV1/*      @ammohant

Tasks/PyPIPublisherV0/*     @bishal-pdmsft   @leantk

Tasks/PythonScriptV0/*      @leantk

Tasks/QueryWorkItemsV0/*    @ammohant

Tasks/QuickPerfTestV1/*     @SadagopanRajaram @ShreyasRmsft

Tasks/ReviewAppV0/*   @ds-ms

Tasks/RunDistributedTestsV1/*   @SadagopanRajaram @ShreyasRmsft

Tasks/RunJMeterLoadTestV1/*     @SadagopanRajaram @ShreyasRmsft

Tasks/RunLoadTestV1/*   @SadagopanRajaram @ShreyasRmsft

Tasks/ServiceFabricComposeDeployV0/*    @bishal-pdmsft

Tasks/ServiceFabricDeployV1/*   @bishal-pdmsft

Tasks/ServiceFabricPowerShellV1/*   @bishal-pdmsft

Tasks/ServiceFabricUpdateManifestsV2/*  @bishal-pdmsft

Tasks/SqlDacpacDeploymentOnMachineGroupV0/*     @Vijay-train    @chshrikh

Tasks/SqlServerDacpacDeployment/*   @Vijay-train    @chshrikh

Tasks/SshV0/*   @zachariahcox

Tasks/TwineAuthenticateV0/*     @phil-hodgson    @aasim    @satbai

Tasks/TwineAuthenticateV1/*     @phil-hodgson    @aasim    @satbai

Tasks/UniversalPackagesV0/*     @phil-hodgson    @aasim    @satbai

Tasks/UseDotNetV2/*     @bishal-pdmsft

Tasks/UseNodeV1/*     @damccorm

Tasks/UsePythonVersionV0/*      @leantk

Tasks/UseRubyVersionV0/*    @hross

Tasks/VSBuildV1/*   @daveken

Tasks/VsTestV1/*    @SadagopanRajaram @ShreyasRmsft

Tasks/VsTestV2/*    @SadagopanRajaram @ShreyasRmsft

Tasks/VsTestPlatformToolInstallerV1/*   @SadagopanRajaram @ShreyasRmsft

Tasks/WindowsMachineFileCopyV1/*    @Vijay-train    @chshrikh

Tasks/WindowsMachineFileCopyV2/*    @Vijay-train    @chshrikh

Tasks/XamarinAndroidV1/*    @leantk

Tasks/XamariniOSV2/*    @leantk

Tasks/XamarinTestCloudV1/*      @leantk

Tasks/XcodeV5/* @leantk
