Repository microsoft/azure-pipelines-tasks, pull requests merged in 2020-11, with the labels that each got.

#13841 Fixed parameters passing for ExtractFiles task
  Tasks/ExtractFilesV1/Tests/L0Extract.ts
  Tasks/ExtractFilesV1/extractfilestask.ts
  Tasks/ExtractFilesV1/task.json
  Tasks/ExtractFilesV1/task.loc.json
Labels: Task: ExtractFiles, bug

#13815 [PowerShellV2, BashV3, CmdLineV2] Removed stderr messages truncating
  Tasks/BashV3/Tests/L0.ts
  Tasks/BashV3/Tests/L0StdErr.ts
  Tasks/BashV3/bash.ts
  Tasks/BashV3/task.json
  Tasks/BashV3/task.loc.json
  Tasks/CmdLineV2/Tests/L0.ts
  Tasks/CmdLineV2/Tests/L0StdErr.ts
  Tasks/CmdLineV2/cmdline.ts
  Tasks/CmdLineV2/task.json
  Tasks/CmdLineV2/task.loc.json
  Tasks/PowerShellV2/Tests/L0.ts
  Tasks/PowerShellV2/Tests/L0StdErr.ts
  Tasks/PowerShellV2/powershell.ts
  Tasks/PowerShellV2/task.json
  Tasks/PowerShellV2/task.loc.json
Labels: Task: Bash, Task: CmdLine, Task: PowerShell, bug

#13868 [PowerShellV2] Fixing of incorrect use of -Command parameter by PowerShell Task
  Tasks/PowerShellV2/Tests/L0Args.ts
  Tasks/PowerShellV2/Tests/L0External.ts
  Tasks/PowerShellV2/Tests/L0Inline.ts
  Tasks/PowerShellV2/Tests/L0StdErr.ts
  Tasks/PowerShellV2/powershell.ps1
  Tasks/PowerShellV2/powershell.ts
  Tasks/PowerShellV2/task.json
  Tasks/PowerShellV2/task.loc.json
Labels: Task: PowerShell, bug

#13880 [DeleteFilesV1] Migration of DeleteFilesV1 to node10
  Tasks/DeleteFilesV1/Tests/L0.ts
  Tasks/DeleteFilesV1/package-lock.json
  Tasks/DeleteFilesV1/package.json
  Tasks/DeleteFilesV1/task.json
  Tasks/DeleteFilesV1/task.loc.json
  Tasks/DeleteFilesV1/typings.json
  Tasks/DeleteFilesV1/typings/globals/mocha/index.d.ts
  Tasks/DeleteFilesV1/typings/globals/mocha/typings.json
  Tasks/DeleteFilesV1/typings/globals/node/index.d.ts
  Tasks/DeleteFilesV1/typings/globals/node/typings.json
  Tasks/DeleteFilesV1/typings/globals/q/index.d.ts
  Tasks/DeleteFilesV1/typings/globals/q/typings.json
  Tasks/DeleteFilesV1/typings/index.d.ts
  Tests-Legacy/L0/DeleteFiles/_suite.ts
  Tests-Legacy/L0/DeleteFiles/buildCleanupNotSkipResponses.json
  Tests-Legacy/L0/DeleteFiles/buildCleanupSkip2Responses.json
  Tests-Legacy/L0/DeleteFiles/buildCleanupSkipResponses.json
  Tests-Legacy/L0/DeleteFiles/deleteFilesResponsesBad.json
  Tests-Legacy/L0/DeleteFiles/deleteFilesResponsesGood.json
  Tests-Legacy/L0/DeleteFiles/deleteFilesResponsesMultiPatternGood.json
Labels: Task: DeleteFiles

#13874 [ExtractFilesV1] Migration of ExtractFilesV1 to Node10
  Tasks/ExtractFilesV1/Tests/L0.ts
  Tasks/ExtractFilesV1/Tests/L0Extract.ts
  Tasks/ExtractFilesV1/extractfilestask.ts
  Tasks/ExtractFilesV1/package-lock.json
  Tasks/ExtractFilesV1/package.json
  Tasks/ExtractFilesV1/task.json
  Tasks/ExtractFilesV1/task.loc.json
  Tests-Legacy/L0/ExtractFiles/_suite.ts
  Tests-Legacy/L0/ExtractFiles/extractFilesLinux.json
  Tests-Legacy/L0/ExtractFiles/extractFilesWin.json
Labels: Task: ExtractFiles
