Repository microsoft/azure-pipelines-tasks, pull requests merged in 2020-12, with the labels that each got.

#13966 Migration of CopyFilesV2 task to Node 10
  Tasks/CopyFilesV2/Tests/L0.ts
  Tasks/CopyFilesV2/Tests/L0cleansIfSpecified.ts
  Tasks/CopyFilesV2/Tests/L0preservesTimestampIfSpecified.ts
  Tasks/CopyFilesV2/package-lock.json
  Tasks/CopyFilesV2/package.json
  Tasks/CopyFilesV2/task.json
  Tasks/CopyFilesV2/task.loc.json
  Tasks/CopyFilesV2/typings.json
  Tasks/CopyFilesV2/typings/globals/mocha/index.d.ts
  Tasks/CopyFilesV2/typings/globals/mocha/typings.json
  Tasks/CopyFilesV2/typings/globals/node/index.d.ts
  Tasks/CopyFilesV2/typings/globals/node/typings.json
  Tasks/CopyFilesV2/typings/globals/q/index.d.ts
  Tasks/CopyFilesV2/typings/globals/q/typings.json
  Tasks/CopyFilesV2/typings/index.d.ts
Labels: task: CopyFiles

#14073 [JavaToolInstallerV0] Update helpMarkdown for jdkDestinationDirectory property
  Tasks/JavaToolInstallerV0/Strings/resources.resjson/en-US/resources.resjson
  Tasks/JavaToolInstallerV0/task.json
Labels: Task: JavaToolInstaller

#14136 Fix ETIMEDOUT issue for tasks that using securefiles-common package
  Tasks/AndroidSigningV2/package-lock.json
  Tasks/AndroidSigningV2/package.json
  Tasks/AndroidSigningV2/task.json
  Tasks/AndroidSigningV2/task.loc.json
  Tasks/AndroidSigningV3/package-lock.json
  Tasks/AndroidSigningV3/package.json
  Tasks/AndroidSigningV3/task.json
  Tasks/AndroidSigningV3/task.loc.json
  Tasks/InstallAppleCertificateV2/package-lock.json
  Tasks/InstallAppleCertificateV2/package.json
  Tasks/InstallAppleCertificateV2/task.json
  Tasks/InstallAppleCertificateV2/task.loc.json
  Tasks/InstallAppleProvisioningProfileV1/package-lock.json
  Tasks/InstallAppleProvisioningProfileV1/package.json
  Tasks/InstallAppleProvisioningProfileV1/task.json
  Tasks/InstallAppleProvisioningProfileV1/task.loc.json
  Tasks/InstallSSHKeyV0/package-lock.json
  Tasks/InstallSSHKeyV0/package.json
Labels: bug

#14154 Fixing NuGetToolInstallerV0 #1793821
  Tasks/Common/packaging-common/Tests/NuGetMockHelper.ts
  Tasks/NuGetToolInstallerV0/nugettoolinstaller.ts
  Tasks/NuGetToolInstallerV0/task.json
  Tasks/NuGetToolInstallerV0/task.loc.json
  common-npm-packages/packaging-common/Tests/NuGetMockHelper.ts
Labels: Area: ArtifactsPackages
