Repository microsoft/azure-pipelines-tasks, pull requests merged in 2022-11, with the labels that each got.

#17110 Fix InstallAppleCertificate on macOS 13.0 by providing the -sha1 parameter to OpenSSL
  common-npm-packages/ios-signing-common/ios-signing-common.ts
  common-npm-packages/ios-signing-common/package-lock.json
  common-npm-packages/ios-signing-common/package.json
Labels: bug, Task: InstallAppleCertificate

#17139 Upgraded dependency of the InstallAppleCertificate task
  Tasks/InstallAppleCertificateV2/Tests/L0CertificateValidForABriefTime.ts
  Tasks/InstallAppleCertificateV2/Tests/L0FailOnExpiredCertificate.ts
  Tasks/InstallAppleCertificateV2/Tests/L0InstallCertWithEmptyPassword.ts
  Tasks/InstallAppleCertificateV2/Tests/L0InstallDefaultKeychain.ts
  Tasks/InstallAppleCertificateV2/Tests/L0InstallTempKeychain.ts
  Tasks/InstallAppleCertificateV2/Tests/L0InstallTempKeychainSkipPartitionIdACL.ts
  Tasks/InstallAppleCertificateV2/Tests/L0UserSupplyCN.ts
  Tasks/InstallAppleCertificateV2/package-lock.json
  Tasks/InstallAppleCertificateV2/package.json
  Tasks/InstallAppleCertificateV2/task.json
  Tasks/InstallAppleCertificateV2/task.loc.json
Labels: Area: ABTT, Task: InstallAppleCertificate

#17195 change task version to previous one
  Tasks/InstallAppleCertificateV2/task.json
  Tasks/InstallAppleCertificateV2/task.loc.json
Labels: Area: ABTT, Task: InstallAppleCertificate

#17208 Revert minimumAgentVersion for the Bash task
  Tasks/BashV3/task.json
  Tasks/BashV3/task.loc.json
Labels: bug
