Repository microsoft/azure-pipelines-tasks, pull requests merged in 2024-05, with the labels that each got.

#16701 No output toggle for az login within the AzureCLIV2 task
  Tasks/AzureCLIV2/Strings/resources.resjson/en-US/resources.resjson
  Tasks/AzureCLIV2/azureclitask.ts
  Tasks/AzureCLIV2/task.json
  Tasks/AzureCLIV2/task.loc.json
  _generated/AzureCLIV2.versionmap.txt
  _generated/AzureCLIV2/Strings/resources.resjson/en-US/resources.resjson
  _generated/AzureCLIV2/azureclitask.ts
  _generated/AzureCLIV2/task.json
  _generated/AzureCLIV2/task.loc.json
  _generated/AzureCLIV2_Node20/Strings/resources.resjson/en-US/resources.resjson
  _generated/AzureCLIV2_Node20/azureclitask.ts
  _generated/AzureCLIV2_Node20/task.json
  _generated/AzureCLIV2_Node20/task.loc.json
Labels: Task:AzureCLI

#19842 Upgrade 7zip in ArchiveFilesV2 task
  Tasks/ArchiveFilesV2/_buildConfigs/Node20/Tests/package-lock.json
  Tasks/ArchiveFilesV2/_buildConfigs/Node20/package-lock.json
  Tasks/ArchiveFilesV2/make.json
  Tasks/ArchiveFilesV2/task.json
  Tasks/ArchiveFilesV2/task.loc.json
  _generated/ArchiveFilesV2.versionmap.txt
  _generated/ArchiveFilesV2/make.json
  _generated/ArchiveFilesV2/task.json
  _generated/ArchiveFilesV2/task.loc.json
  _generated/ArchiveFilesV2_Node20/Tests/package-lock.json
  _generated/ArchiveFilesV2_Node20/make.json
  _generated/ArchiveFilesV2_Node20/package-lock.json
  _generated/ArchiveFilesV2_Node20/task.json
  _generated/ArchiveFilesV2_Node20/task.loc.json
Labels: enhancement, Area: ABTT, Task: ArchiveFiles

#19850 Set DotNetCoreCLIV2 task's default verbosity input as Minimal
  Tasks/DotNetCoreCLIV2/task.json
  Tasks/DotNetCoreCLIV2/task.loc.json
  _generated/DotNetCoreCLIV2.versionmap.txt
  _generated/DotNetCoreCLIV2/task.json
  _generated/DotNetCoreCLIV2/task.loc.json
  _generated/DotNetCoreCLIV2_Node20/task.json
  _generated/DotNetCoreCLIV2_Node20/task.loc.json
Labels: enhancement
